body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* 
Style the root element to showcase the component in this demo. This is just for display purposes, and is non-essential 
*/
#root {
  width: 100vw;
  height: 100vh;
  background-color: rgb(91, 100, 111);
  position: relative;
  margin: auto;
  overflow: auto;
}

div.center-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50vw;
  height: 50vh;
}

.myBtn {
  font-weight: bold;
  font-size: 3vh;
  border-width: 0.5vh;
}
